.pengurus_container
{
	height:25px;
}

#list_pengurus
{
	margin-top:10px;
	width:300px;
	float:left;
	display:inline;
}

#preview_pdf
{
	margin-top:10px;
	float:700px;
	display:inline;
	width:700px;
}

#unggah
{
	width:100%;
}

#pdf_viewer
{	
	height:500px;
}