.pengurus_container{
	height:25px;
}

#sidelist_pengurus{	
	width:350px;
	height:500px;
	float:left;
	display:block;
}

#list_pengurus{	
	width:350px;
	height:450px;
	float:left;
	display:block;
}

#list_pengurus ul li{	
	height:45px;
}

#delete_pengurus{
	float:right;
	margin-right:20px;
	height:20px;
}

#unggah_pengurus{		
	width:350px;
	height:50px;
	display:block;	
	float:left;
}

#preview_pdf_pengurus{	
	margin-right:30px;
	float:right;	
	display:block;
	width: 700px;
}

#pdf_viewer_pengurus{
	display:block;
	height:500px;
}