.daftar_akun_container{
	margin-left: 50px;
	margin-top:20px;
	height:100%;
}

.daftar_aktifasi_container{
	float:left;
	margin-right: 150px;
}

.email,.nama{
	width: 200px;
	max-width: 200px;
}

.batas_aktif{
	width: 100px;
}

.aktifasi,.lihat_detail,.hapus_akun_non{
	width: 75px;
}

.daftar_aktif_container{
	float:left;
}
