/*
-------- Header Section ------
*/
.header {
	background-color: #fff;
}

.site_id { 
	height: 130px;
}

.logo_hfi_header {
	float: left;
	display: block;
}

.header_title {
	font-size: 38px;
	font-weight: 300;
	color: #313599;
	margin-bottom: 0px;
	margin-left:30px;
	text-indent: 20px;
}
.id_hfi {
	display: block;
	text-indent: 20px;
	font-size: 16px;
}

.daftar_dan_login {
	text-decoration: none;
	padding: 0 10px;
	margin-top: 10px;
	display: inline-block;
	font-size: 14px;
}

.daftar_dan_login:hover {
	text-decoration: underline;
	padding: 0 10px;
	margin-top: 10px;
	display: inline-block;
	font-size: 14px;
}

.daftar_dan_login:active {
	text-decoration: underline;
	padding: 0 10px;
	margin-top: 10px;
	display: inline-block;
	font-size: 14px;
	color: #000;
}

.site_nav {
	height: 35px;
	overflow: hidden;
	background: #6e70bd; /* Old browsers */
	background: -moz-linear-gradient(top,  #6e70bd 0%, #37379b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e70bd), color-stop(100%,#37379b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6e70bd 0%,#37379b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6e70bd 0%,#37379b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6e70bd 0%,#37379b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6e70bd 0%,#37379b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e70bd', endColorstr='#37379b',GradientType=0 ); /* IE6-9 */

}

.site_nav * {
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
}

.site_nav ul{
	text-align: center;
}

.site_nav ul li{
	display: inline-block;
	margin: 0px !important; 
}

.site_nav ul li a{
	display: inline-block;
	text-decoration: none;
	line-height: 35px;
	padding: 0 45px 0 45px;
}

.site_nav ul li a:hover{
	display: inline-block;
	text-decoration: none;
	line-height: 35px;
	padding: 0 45px 0 45px;
	
	background: #1c187c; /* Old browsers */
background: -moz-linear-gradient(top, #1c187c 2%, #383189 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#1c187c), color-stop(100%,#383189)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1c187c 2%,#383189 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1c187c 2%,#383189 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1c187c 2%,#383189 100%); /* IE10+ */
background: linear-gradient(to bottom, #1c187c 2%,#383189 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c187c', endColorstr='#383189',GradientType=0 ); /* IE6-9 */
}
.site_nav ul li a:active{
	display: inline-block;
	text-decoration: none;
	line-height: 35px;
	padding: 0 45px 0 45px;
	
	background: #1c1c4c; 
}

.site_nav ul li:nth-child(1) a:before{
	content:"";
	display: block;
	position: absolute;
	width:2px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}

.site_nav ul li a:before{
	content:"|";
	display: block;
	position: absolute;
	width:2px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	text-indent:-100px;
}

/*
-------- Content Section ------
*/
.content_container {
background: #5252ac; /* Old browsers */
background: -moz-linear-gradient(top, #5252ac 14%, #faf9fe 61%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#5252ac), color-stop(61%,#faf9fe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #5252ac 14%,#faf9fe 61%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #5252ac 14%,#faf9fe 61%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #5252ac 14%,#faf9fe 61%); /* IE10+ */
background: linear-gradient(to bottom, #5252ac 14%,#faf9fe 61%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5252ac', endColorstr='#faf9fe',GradientType=0 ); /* IE6-9 */
}

.main_content {
	background-color: #fff;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.visi_container, .misi_container {
	width: 50%;
	float: left;
}

	/*newcode ber*/
	.content_hfi ul li {		
		list-style: disc;
		display: list-item;
	}
	
	.content_hfi ol li {
		list-style: decimal;
		display: list-item;
	}
	/*endnewcode ber*/
	


/*------------------------
-------- Home Page ------
------------------------*/

.pdf_container{
	width: 900px;
	display: block;
}

.pdf_container .versi_pdf_container{
	width: 200px;
	display: block;
	float: left;
}

.pdf_container .pdf_object_container{
	width: 750px;
	display: block;
	float: left;
}

/*------------------------
-------- Pop Up ------
------------------------*/
.pop_up_super_c {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	overflow: auto;
}
.pop_up_tbl {
	width: 100%;
	height: 100%;
	display: table;
	z-index: 1999999;
	overflow-y: hidden;
	vertical-align: middle;
}
.pop_up_cell {
	display: table-cell;
	vertical-align: middle;
}
.close_56 {
	background: url('../img/close56.png') no-repeat;
	width: 56px;
	height: 56px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}



/*------------------------
-------- Login Page ------
------------------------*/

.table {
	width: 100%;
	height: inherit;
	display: table;
}

.table_cell {
	width: 100%;
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.logintitle {
	margin-bottom: 0px !important;
background: #6e70bd; /* Old browsers */
	background: -moz-linear-gradient(top,  #6e70bd 0%, #37379b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e70bd), color-stop(100%,#37379b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6e70bd 0%,#37379b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6e70bd 0%,#37379b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6e70bd 0%,#37379b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6e70bd 0%,#37379b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e70bd', endColorstr='#37379b',GradientType=0 ); /* IE6-9 */
line-height: 50px;
color: #fff;

	}

.login_content {
	display: block;
}

.login_container {
	background-color: #fff;
	overflow: hidden;
}

.login_container form{
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.login_container input{
	display: block;
	
}
.login_container .login{
	display: block;
	float:left;
	height: 30px;
	width: 144px;
}

.login_container input[type="checkbox"], .login_container input[type="button"]{
	display: inline-block !important;
}

.login_container input[type="text"], .login_container input[type="password"]{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	line-height: 22px;
	text-indent:10px;
}

.lupa_pass {
margin-top: 10px;
	display: block;
	width: 100%;
	text-align: center;
}

.rememberme {
	margin-bottom: 30px;position: absolute;
margin-top: 9px;
margin-left: 26px;
}


/*
-------- Footer Section ------
*/

.footer {
	background-color: #fff;
	
	padding-bottom:30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.blue_line {
	width: 80%;
	height: 1px;
	background-color: #6a69b7;
	margin: 0 auto 30px auto;
	display: block;

}

.logo_lipi {
	float: left;
}

.abrev_lipi {
	float: left;
	line-height: 45px;
	margin-left: 12px;
	font-weight: 700;
}

.abrev_sji{
	text-align:center;
	display:block;
	font-weight: 700;
}


.abrev_opi {
	float: right;
	line-height: 45px;
	font-weight: 700;
}

.content_hfi{
	width: 650px;
	display: block;
	float:left;
}

.side_panel_hfi{
	display:block;
	width: 235px;
	margin-left: -50px;
	margin-right: 30px;
	float: left;
}

.side_panel_hfi ul{
	padding-left:0 !important;
	margin-left:0 !important;
}

.side_panel_hfi ul li{
	
	display:block;
	
	float:left;
	
	box-shadow: 3px 4px 5px #333;
	margin-left:0 !important;
	
}

.side_panel_hfi ul li a{
	line-height: 25px;
	display:block;
	width: 200px;
	height:35px;
	padding-top: 10px;
	padding-bottom:0px;
	padding-left: 10px;
	text-decoration: none;
	color: #FFF;
	margin:0px;
	float:left;
	background-color: #333298;
}

.side_panel_hfi ul li a:hover{
	background-color: #8d87ff;
}

.white_space{
	background-color: #FFF;
	height: 10px;
	display:block;
	float:left;

}

.side_panel_hfi_background{
	background-color: #6766c6;
	height:100%;
	width:210px;
	margin-left:35px;
	display:inline-block;
}

/*----------------------------------------------------------------------------------------------------------
-------- Registrasi -------------------------------------- Registrasi --------------------------------------
----------------------------------------------------------------------------------------------------------*/

.form_registrasi tr{
	margin-bottom: 10px;
	display: block;
	width: 100%;
	float: left;
}

.form_registrasi tr td:first-child{
	width: 143px;
}

.form_registrasi tr td{
	position: relative;
	float: left;
}

.form_registrasi input[type="text"], .form_registrasi input[type="password"] {
	height: 22px;
}

.red {
	color: #f00;position: absolute;
right: 0;right: -5px;
top: -3px;
}

label.error {
	background: #ea6153;
	color: #fff;
	border-radius: 5px;
}

.de_tombol input[type="submit"], .de_tombol button{
	height:30px;
}

.reg_submit_off {
	pointer-events: none;
	opacity: 0.5;
}

.reg_submi_on {
	
	opacity: 1;
}

/*----------------------------------------------------------------------------------------------------------
-------- Profile Page -------------------------------------- Profile Page ----------------------------------
----------------------------------------------------------------------------------------------------------*/
.foto_pp_container {
	width: 200px;
	display: block;
	float: left;
	
}

.foto_pp_container img {
	display: block;
}

.foto_pp_container a {
	display: block;
	text-decoration: none;
	text-indent: 20px;
	color: #000;
	margin-top:3px;
}

.foto_pp_container a:hover {
	display: block;
	text-decoration: none;
	text-indent: 20px;
	color: #00e;
	margin-top:3px;
}

.foto_pp_container a:before {
	content:">";
	display: block;
	width: 20px;
	height: 19px;
	line-height:17px;
	position: absolute;
	margin-left: -18px;
	color: #0000ee;
}

.label_pp {
	width: 150px;
}

/*----------------------------------------------------------------------------------------------------------
-------- Admin Page -------------------------------------- Admin Page --------------------------------------
----------------------------------------------------------------------------------------------------------*/

.header_admin {
	height: 50px;
	overflow: hidden;
	width: 100%;
	display: block;
}

.admin_logo {
	width: 240px;
	float: left;
	display: block;
	height: inherit;
	background: #353299;
}

.admin_id {
	float: left;
	display: block;
	height: inherit;
	background: #5757af;
	line-height: 50px;
	color: #fff;
	padding-left:20px;
	padding-right:20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-align: right;
}

.admin_id .sep {
	margin-left: 10px;
	margin-right: 10px;
}
.admin_id a {
	color: #fff;
}
.admin_id a:hover {
	color: #00f;
}

.logo_admin {
	float: left;
	display: block;
	background: url('../img/hfi_admin.png') no-repeat;
	width: 50px;
	height: 50px;
	
}

.admin_logo p {
	height: 50px; 
	color: #fff;
	word-wrap:break-word;
	font-size: 14px;
	line-height: 50px
}

/**/

.sidebar_admin {
	width: 240px;
	display: block;
	float: left;
	overflow-y: auto;
	background: #444446;
}

.sidebar_admin ul {
	display: block;
}

.sidebar_admin ul li {
	display: block;
	width: 100%;
	margin: 0 !important;
	position: relative;
}

.sidebar_admin ul li a {
	height: 38px;
	width: 100%;
	display: block;
	line-height: 38px;
	color: #fff;
	text-decoration: none;
	text-indent: 20px;
	border-bottom: #343436 1px solid;
	border-top: #59595c 1px solid;
}	

.sidebar_admin > ul > li > a:before {
	content: "";
	background: url('../img/arrow.png') no-repeat;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	right:12px;
	top: 14px;
}	

.no_arrow:before {
	content: "";
	background: none !important;
}

li:hover ._home_tombol:before,
li:hover ._organisasi_tombol:before,
li:hover ._publikasi_tombol:before,
li:hover ._anggota_tombol:before,
li:hover ._kontak_tombol:before
{
-webkit-transition: all 100ms linear 100ms; /* For Safari 3.1 to 6.0 */
    transition: all 100ms linear 100ms;
transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */

}

.sidebar_admin ul li a:hover {
	background: #212121;
}	
.sidebar_admin ul li a:active {
	background: #000;
}	



.sidebar_admin > ul > li > ul > li > a  {
	height: 38px;
	width: 100%;
	display: block;
	line-height: 38px;
	color: #fff;
	text-decoration: none;
	text-indent: 44px;
	border-bottom: #343436 1px solid;
	border-top: #59595c 1px solid;
}	
.sidebar_admin > ul > li > ul {
	margin: 0 !important;
	
}	

/**/

.admin_content_container {
	display: block;
	width: 100%;
}

.admin_control_panel {
	display: block;
	float: left;
	overflow-y: auto;
	background: #fff;
}