.kegiatan_container{
	margin-left:auto;
	margin-right:auto;
}
.kegiatan_container > ul > li {
	overflow: hidden;
	margin-bottom: 30px;
}

.info_kegiatan{
	width: 430px;
	margin-left:25px !important;
	margin-right:auto !important;
	float:left;
	/*padding-top: 20px;*/
	vertical-align: center;
}

.waktu_kegiatan{
	height: 20px;
	font-size: 12px;
}

.place_kegiatan{
	height: 30px;
	line-height: 30px;
}

.nama_kegiatan{
	font-size: 14px!important;
	font-weight: bold;
}

.poster_kegiatan{
	width: 150px;
	height: 180px;
	float:left;
	margin-bottom: 10px;
}

.edit_kegiatan_form{
	float: left;
	margin-top: 38px;
	margin-left: 25px;
}
.edit_kegiatan_form input{
	margin-top: auto;
	margin-bottom:auto;
}
