.slide_container{
	margin-left:50px;
	margin-top:20px;

}

.slide_container ul li{
	height: 200px;
}

.slide_container ul li div{
	position:relative;
}

.slide_container ul li div img{
	width:150px;
	position:absolute;
	height:150px;
	margin-right: 15px;
}

.change_photo{
	z-index:999;
	position:absolute;
	margin-top:125px;
	width:150px;
	display:none;
}

.slide_container ul li input[type='text']{
	width:500px;
	height:30px;
	margin-left: 175px;
	margin-top: 30px;
	font-size: 14px;
	margin-right: 15px;
}